/*This file contains all our variables*/
/*are placeholders for storing information that you want to reuse throughout your styles.*/

$orange: #FF7600;
$black: #000;

$background-image: url(../images/pattern.png);
$font: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
$degree: rotate(360deg);